blockquote, q {
	font-size: 0.85em !important;
	width: 95%;
}

ul, li {
	padding-left: 4em;
	font-size: 0.95em;
}

em {
	display: block;
}

body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	font-family: Avenir,Verdana,sans-serif;
	margin-top: 1em;
	margin-left: 1em;
}

p {
	position: relative;
	margin-right: 0;
	margin-left: 1.75em;
	font-size: 0.825em;
}

code {
	font: normal normal;
	font-size: 90%;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	vertical-align: top;
	line-height: 24px;
	position: absolute;
    right: 2em;
}

ul {
	position: relative;
	margin-bottom: 0.125em;
	margin-top: -0.25em;
}

/*uncomment to get dashes in the list*/
li:before {
	content: "›";
	position: relative;
	left: -0.5em;
}

li {
	/*second line indent*/
	padding-left: 1.25em;
	text-indent: -1.25em;
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
}

h1 {
	text-align: left;
	font-size: 2.25em;
	line-height: 1em;
	position: relative;
	margin-bottom: 0.125em;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-weight: 600;
	color: #8cb0ba;
}

p a {
	font-size: 0.85em;
}

h2 {
	font-size: 1.1em;
	color: #8cb0ba;
	top: 1.4em;
	text-transform: uppercase;
	margin-left: 1em;
	margin-top: 0.75em;
    margin-bottom: 0.25em;
}

h3 {
	font-size: 1em;
	top: 1.7em;
	margin-left: 1.5em;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

a {
	color: inherit;
	text-decoration: none
}

a:hover {
	color:#afdde9;
}

em {
	font-weight: 500;
	font-style: italic;
}

strong {
	font-weight: bold;
	vertical-align: top;
	line-height: 24px;
}

img {
	width: 24x;
	height: 24px;
	padding-right: 4px;
}
