blockquote, q {
	padding-left: 6.25%;
}

blockquote p {
	padding-bottom: 0.125rem;
}

em {
	display: block;
}

h2 {
	left: -4%;
}

body {
	font: normal normal 400;
	font-size: 12pt;
	line-height: 1.35em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Avenir,Verdana,sans-serif;
}

p {
	position: relative;
	left: 20%;
	margin-bottom: 0.2em;
	margin-right: 0;
	width: 60%;
}

code {
	font: normal normal;
	font-size: 90%;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #ccc;
}

p code {
	position: absolute;
	text-align: right;
	right: -20%;
}


ul {
	position: relative;
	left: 25%;
	width: 75%;
	margin-bottom: 1em;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

li {
	/*second line indent*/
	padding-left: 1.25em;
	text-indent: -1.25em;
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 80%;
}

h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: 20%;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.1em;
	color: #4468b1;
	margin-top: 2em;
	position: relative;
	top: 1.2em;
	text-align: right;
	width: 20%;
	text-transform: uppercase;
}

h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.5em;
	text-align: right;
	width: 20%;
}

a {
	color: inherit;
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: 25%;
	color: #4468b1;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 90%;
}

#webaddress a {
	text-decoration: none;
}

em {
	font-style: italic;
	color: #2d4e5e
}

strong {
	font-weight: bold;
}

#address {
	display: none;
}
